td {
    width: 50px;
    text-align: center;
    
    
    padding: 10px;
  }
  div#welcome{
      
      text-align: center;
      padding: 10px;
      
  }
table {
    table-layout: fixed;
    background-color: white;
    
    
    border-collapse: separate;
    border-spacing: 2px;
    border:2px solid black;
}
